<ion-header>
  <ion-toolbar>
    <ion-title>Lager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
  <ion-card-header>
    <ion-img src="assets/brahma-card-header.png"></ion-img>
  </ion-card-header>
<ion-card-content> 

<ion-card-subtitle>Lager</ion-card-subtitle>
      <ion-card-title>Brahma Extra Lager</ion-card-title>
  <p>A melhor Lager da Região sul do Brasil </p>

  </ion-card-content>
</ion-card>
<ion-button color="dark" [routerLink]="['/home']">Voltar</ion-button>
</ion-content>
